aiohttp==3.9.3
anthropic==0.28.0
brotli==1.1.0
bs4==0.0.2
catboost==1.2.7
category-encoders==2.6.4
cvxopt==1.3.2
exceptiongroup==1.2.0
fake-useragent==1.5.1
flask-socketio==5.3.6
gmpy2==2.1.5
google==3.0.0
google-generativeai==0.5.4
grpcio-status==1.62.2
gunicorn==22.0.0
gym==0.26.2
gymnasium==1.0.0
importlib-metadata==7.1.0
ipykernel==6.29.4
lightgbm==4.5.0
lxml==5.1.0
mlxtend==0.23.3
nltk==3.9.1
openai==1.14.2
pickleshare==0.7.5
pip-chill==1.0.3
playwright==1.48.0
pysocks==1.7.1
pyswip==0.3.2
rank-bm25==0.2.2
ray==2.35.0
scikit-image==0.24.0
seaborn==0.13.2
sec-api==1.0.17
tiktoken==0.7.0
torchaudio==2.5.0.dev20241118
torchvision==0.20.0.dev20241118
transformers==4.41.2
turkle==3.0.0
xgboost==2.1.2
z3==0.2.0
z3-solver==4.13.0.0
zeno-client==0.1.16
